label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
}

.inputField {
  width: 327px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.inputField:focus,
.inputField:hover {
  outline: none;
  border-color: dodgerblue;
  box-shadow: 0 0 5px rgba(30, 144, 255, 0.8);
}
